<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>s_sk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="studio skaggs kennedy"/>
    <link rel="canonical" href="https://www.studiosk.net" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="studiosk - studio skaggs kennedy" />
    <meta property="og:description" content="studio skaggs kennedy" />
    <meta property="og:url" content="https://www.studiosk.net" />
    <meta property="og:site_name" content="studiosk" />
    {% if page.hidden %}
    <meta name=”robots” content=”noindex,nofollow”>
    {% endif %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59184821-1', 'auto');
      ga('send', 'pageview');

    </script>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

    <!-- https://swiperjs.com/get-started -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <script src="https://kit.fontawesome.com/44646911b3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{site.url}}/public/ssk.css">
  </head>
<body>
