<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>s_sk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="studio skaggs kennedy"/>
    <link rel="canonical" href="http://www.studiosk.net" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="studiosk - studio skaggs kennedy" />
    <meta property="og:description" content="studio skaggs kennedy" />
    <meta property="og:url" content="http://www.studiosk.net" />
    <meta property="og:site_name" content="studiosk" />

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/ssk.css">
  </head>
<body>

{% include nav.html %}