<header class="cf">
  <span class="logo_main"><a href="/">s_sk</a></span>
  <button id="menu-button" class=""></button>
</header>

<nav id="menu-attic" class="attic">
  <span class="logo">
    <span class="logo_main"><a href="/">s_sk</a></span>
    <span class="logo_tagline">studio skaggs kennedy</span>
  </span>

  <div id="main-menu">
    <ul id="menu-ssk-main" class="menu">
      <li class="menu-item{% if page.url == '/news/' %} current-menu-item{% endif %}"><a href="{{site.url}}/news/">news</a></li>
      <li class="menu-item{% if page.url == '/projects/' %} current-menu-item{% endif %}"><a href="{{site.url}}/projects">projects</a></li>
      <li class="menu-item{% if page.url == '/studio/' %} current-menu-item{% endif %}"><a href="{{site.url}}/studio/">studio</a></li>
      <li class="menu-item{% if page.url == '/contact/' %} current-menu-item{% endif %}"><a href="{{site.url}}/contact/">contact</a></li>
    </ul>
  </div>
</nav>