html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio,
video {margin:0;padding:0;border:none;}

* { box-sizing: border-box; }

body {
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight:100;
	font-size:14.5px;
	text-decoration:none;
}
body.attic_is_open { overflow:hidden; }

.main {
	margin:0 1em;
	overflow-x:hidden;
}
.content-container {
	padding: 10px;
}
.projects .content-container {
	max-width:100%;
	text-align: center;
}
.project-images img {
	display: block;
	margin-top: 1em;
}

@media (min-width: 50em) {
	.main { margin: 0; }
	.content { margin-left:220px; }
	.content-container {
		padding:45px;
		display:block;
		max-width: 775px;
	}
	.wide .content-container {
		max-width: 1400px;
	}
	.wide .project-description {
		max-width: 775px;
		margin-bottom: 2em;
	}
	.projects .content-container { 
		text-align: left; 
	}
}

/* clearfix */
.cf:before,
.cf:after {
	content:" ";
	display:table;
}
.cf:after {
	clear:both;
}
.cf {
	zoom: 1;
}

/* * * * * * * * * * *
**
**	GLOBALS
**
** * * * * * * * * * */
h1, h1 a {
	font-weight:600;
	color:#444;
	margin-bottom:5px;
}
h1 {
	font-size:1.5em;
}
h1 a {
	font-size:1.0em;
}
a, p a {
	text-decoration:none;
	color:#cc8400;
}
a:hover {
	color:#a36900;
}
p {
	margin-bottom:15px;
	line-height: 1.3em;
}
strong {
	font-weight:900;
}
img {
	max-width: 100%;
	height: auto;
}
hr {
	border: none;
	border-bottom: 1px solid #e5e5e5;
}


/* * * * * * * * * * *
**
**	NAVIGATION
**
** * * * * * * * * * */
nav {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 60%;
	left: 0;
	left: -65%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transition: .2s;
	   -moz-transition: .2s;
	    -ms-transition: .2s;
	     -o-transition: .2s;
	        transition: .2s;
	z-index: -1;
	text-align: right;
}
nav {
	background: #fff;
	padding: 45px 2em 2em;
	border-right:1px solid #e5e5e5;
}
nav.open {
	left: 0;
	z-index: 20;
}

.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align:right;
}
.menu-item {
	margin-bottom: 1em;
}
.menu-item a {
	text-transform: uppercase;
  display: block;
  letter-spacing: 0.15em;
	text-decoration:none;
	color:#000;
	font-weight:100;
	padding: 0;
	text-shadow: none;
	display: inline;
}
.menu-item a:hover {
	color:#cc8400;
}
.current-menu-item ul {
	display:block;
}
.current-menu-item a {
	color:#cc8400;
}
.current-menu-item:before {
	content:'_';
}

nav i {
	color: #000;
}
nav i:hover {
	color: #cc8400;
}

#menu-button {
	float: right;
	border: none;
	font-size: 2em;
	background-color: transparent;
	line-height: 1.2em;
}
#menu-button:focus { outline: none; }
#menu-button:before {
	content: "\f0c9";
	font-family: "FontAwesome";
}
#menu-button.open:before { content: "\f00d"; }
#menu-social {
	margin-top: 2em;
}
@media (min-width: 50em) {
	#menu-button { display:none; }
	nav {
		width:220px;
		padding-right:20px;
		background: none;
		box-shadow: none;
		left: 0;
		z-index: 10;
	}
}

/* * * * * * * * * * *
**
**	HEADER & LOGO
**
** * * * * * * * * * */
.logo,
.logo_main,
.logo_tagline {
	display:block;
}

.logo {
	font-size: 1.3em;
	margin-bottom: 1em;
	color: #111;
}

.logo_main {
	font-size: 2em;
	font-weight: 500;
	margin-left: 10px
}

.logo_main a {
	color: #111;
}
.logo_tagline {
	font-size: .8em;
}

header { margin: 1em 0; }
header .logo_main { float: left; }
header .logo_main a { color: #111; }

@media (min-width: 50em) {
	header { display: none; }
}


/* * * * * * * * * * *
**
**	SINGLE POST
**
** * * * * * * * * * */
.post {
	margin-bottom:75px;
	/*font-size:.9em;*/
}
.post-date {
	text-transform:uppercase;
	font-size:0.8em;
	float:right;
}
.post h2 {
	font-size:1.1em;
	text-transform:uppercase;
	margin:.35em 0;
}
.post p {
	text-align:justify;
}
img.featured-image  {
	width:100%;
	height:auto;
}

/* * * * * * * * * * *
**
**  PAGES
**
** * * * * * * * * * */
section {
	margin-bottom: 3em;
}
.section-left,
.section-right {
	margin: auto;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
@media (min-width: 50em) {
	.section-img {
		width: 100%;
	}
  .section-left {
  	float:left;
	}
	.section-right {
		float:right;
	}
	.section-60 {
		width: 65%;
	}
	.section-40 {
		width: 35%;
	}
	.section-pad-left {
		padding-left: 3em;
	}
	.section-pad-right {
		padding-right: 3em;
	}
	.section-align-right {
		text-align: right;
	}
}

/* * * * * * * * * * *
**
**	PROJECT LISTINGS
**
** * * * * * * * * * */
.content.projects {
	width:auto;
	max-width:1200px;
}
.project {
	display:inline-block;
	position:relative;
	width:300px;
	height:200px;
	/*margin:0 6px 6px 0;*/
	background:center center no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:hidden;
}
.project-info {
	position:absolute;
	display:table;
	width:100%;
	height:100%;
	text-align:center;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding:30px;
}
.project-title {
	display:none;
	vertical-align: middle;
	color:#fff;
	font-weight:400;
	text-transform: uppercase;
	letter-spacing:.15em;
	white-space: pre-line;
	/*font-size:.9em;*/
}
.project:hover .project-info {
	-webkit-transition: .2s;
	   -moz-transition: .2s;
	    -ms-transition: .2s;
	     -o-transition: .2s;
	        transition: .2s;
	background:rgba(0,0,0,.8);
}
.project:hover .project-title {
	display:table-cell;
	-webkit-transition: .2s;
	   -moz-transition: .2s;
	    -ms-transition: .2s;
	     -o-transition: .2s;
	        transition: .2s;
}

/* * * * * * * * * * *
**
**	SLIDER
**
** * * * * * * * * * */
.galerie {
	width:100%;
	padding-bottom:66.6%;
	position:relative;
	overflow:hidden;
	margin-bottom:10px;
}
.galerie img.item {
	position:absolute;
	height:100%;
	/*width:100%;*/
	background:center center no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slider-nav {
	position:absolute;
	top:0;
	width:50%;
	height:100%;
	font-size:.7em;
	text-transform:uppercase;
	font-weight:400;
	cursor:pointer;
}
.slider-nav#next { left:50%; }
.icon {
	position:absolute;
	top:49%;
	left:0;
	font-size:4em;
}
.slider-nav#next .icon { left:90%; }
.slider-nav:hover .icon:before { color:#333; }
.slider-nav:hover { background-color:rgba(0,0,0,0.02); }
.slider-nav:active .icon.left-tri { margin-left:-3px; }
.slider-nav:active .icon.right-tri { margin-left:3px; }

/* * * * * * * * * * *
**
**	PROJECTS SLIDER, SWIPER
**
** * * * * * * * * * */
.project-swiper-pagination {
	display: block;
	position: relative !important;
	margin: 1em auto;
}
.swiper-slide {
	background-color: #fff;
}
:root {
	--swiper-theme-color: #111;
}

/* * * * * * * * * * *
**
**	PROJECTS
**
** * * * * * * * * * */
.project-specs {
	list-style-type: none;
	margin-left:0;
	margin-bottom:2rem;
}
.project-specs li {
  margin-bottom:0.5rem;
}
.spec-key {
	font-weight: bold;
	text-transform: capitalize;
}

/* * * * * * * * * * *
**
**	LANDING PAGE
**
** * * * * * * * * * */
#ssk {
	font-size:6em;
	color:#999;
	font-weight:500;
	text-decoration:none;
}
#centered {
	width: 300px;
	height: 110px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}
.trans {
	opacity:0;
}
#underscore {
	color:#cc8400;
}

/* * * * * * * * * * *
**
**	GRID LAYOUT
**
** * * * * * * * * * */
.grid-container {
	display: block;
}
.grid {
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin-top: 10px;
	padding-right: 10px;
}

.grid-item img {
	min-height:100%; 
	min-width: 100%;
	object-fit: cover;
	cursor: pointer;
}

@media (min-width: 50em) {
	.grid-item,.grid-sizer {
		width: 10%;
	}
	.grid-item--width-10 { width: 10%; }
	.grid-item--width-20 { width: 20%; }
	.grid-item--width-30 { width: 30%; }
	.grid-item--width-40 { width: 40%; }
	.grid-item--width-50 { width: 50%; }
	.grid-item--width-60 { width: 60%; }
	.grid-item--width-70 { width: 70%; }
	.grid-item--width-80 { width: 80%; }
	.grid-item--width-90 { width: 90%; }
	.grid-item--width-100 { width: 100%; }

	.grid-item--height-100 { height: 100px; }
	.grid-item--height-200 { height: 200px; }
	.grid-item--height-300 { height: 300px; }
	.grid-item--height-400 { height: 400px; }
	.grid-item--height-500 { height: 500px; }
	.grid-item--height-auto { height: auto; }
}

.enlarge-image {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 10;
	background: #fff;
}
.enlarge-image--close-icon {
	position: fixed;
	top: 10px;
	left: 10px;
	cursor: pointer;
}
.enlarge-image img {
	width: auto;
	height: auto;
	max-height:90%; 
	max-width: 90%;
}
.enlarge-image.hide {
	display: none;
}